<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mercurio</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Metal+Mania&family=Montserrat&display=swap" rel="stylesheet">

    <style>
        body {
            font-family: 'Montserrat', Arial, sans-serif;
            background-color: #111;
            color: #eee;
            padding: 20px;
        }

        h1 {
            font-family: 'Metal Mania', cursive;
            font-size: 3rem;
            letter-spacing: 2px;
            color: #e63946;
        }

        img {
            max-width: 400px;
            display: block;
            margin-top: 20px;
        }

        a {
            color: #f1fa8c;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <%-include('../templates/header'); -%>

    <h1>Mercurio</h1>

    <p>
        Mercurio es un grupo musical juvenil mexicano formada en 1994 en la Ciudad de México.

Un poco después del lanzamiento de su álbum debut de estudio en 1996, Mercurio se convirtió en uno de los grupos de pop más populares en México. En 1996, el grupo tuvo la oportunidad de abrir un concierto para Ricky Martin en la Plaza de Toros en Guadalajara. Después, Mercurio se presentó con Jeans y Kairo en el Auditorio Nacional de la Ciudad de México.

El primer hit del grupo y video musical fue "Enamoradísimo”. Mientras que su popularidad crecía, el grupo viajó a Colombia, Perú, Bolivia, Ecuador y después al Vaticano para conocer al papa Juan Pablo II.

"Chicas Chic" fue lanzado en 1997. Ese año recibió el premio Eres a la mejor banda pop; consiguiéndolo de nuevo en 1998, siendo reconocido nuevamente como el mejor grupo en vivo.

En 1998 fue lanzado "Tiempo de vivir". Fue seguido por una compilación titulada "El Fenómeno" en 1999.

En marzo de 2000, Elías, Rodrigo, Álex, Adrián y Mike empezaron una gira por América Central mientras que su álbum "Evolución" alcanzaba la certificación de oro en México.[4]​

En 2011 el grupo regresa a petición de sus aficionados con un nuevo disco "Reacción en cadena".

En 2016 inician junto a Magneto la gira "Magneto y Mercurio, juntos por ti" en México, Centroamérica, Sudamérica y parte de Estados Un iUnidos,

Posteriormente en 2017, inician la gira "Únete a la fiesta"; para integrarse en 2018 a la gira "90’s pop tour", que culminó en la Arena Monterrey en diciembre de 2019.

En 2022 inician gira con el proyecto Boyband Experience BBEX la cual culmina el 21 de julio de 2022 en Guadalajara. También en julio de ese mismo año, lanzan la gira "Chicas tour"
    </p>

    <img 
        src="https://images.sk-static.com/images/media/img/col4/20230821-002903-149304.jpg" 
        alt="Imagen del planeta Mercurio"
    >

    <hr>

    <p>
        Volver a la página de
        <a href="/">Planetas</a>
    </p>

</body>
</html>