 <!DOCTYPE html>
<HTML>
  <head>
    <title>Sistema saolar</title>
  </head>
  <body>
    <div id="una capa">
      <h1>Pagina de planetas!</h1>
      <p>Aqui esta cargada correctamente</p>
      <hr>
      <p> Pagina del planetas
        <a href="/Mercurio">Mercurio</a>
        <a href="/Jupiter">Jupiter</a>
        <a href="/Saturno">Saturno</a>
        <a href="/Neptuno">Neptuno</a>
        <a href="/Marte">Marte</a>
        <a href="/Tierra">Tierra</a>
        <a href="/Urano">Urano</a>
        <a href="/Venus">Venus</a>
      </p>
    </div>
  </body>  
</HTML>