<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Venus</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Metal+Mania&family=Montserrat&display=swap" rel="stylesheet">

    <style>
        body {
            font-family: 'Montserrat', Arial, sans-serif;
            background-color: #111;
            color: #eee;
            padding: 20px;
        }

        h1 {
            font-family: 'Metal Mania', cursive;
            font-size: 3rem;
            letter-spacing: 2px;
            color: #e63946;
        }

        img {
            max-width: 400px;
            display: block;
            margin-top: 20px;
        }

        a {
            color: #f1fa8c;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <h1>Venus</h1>

<p>Aunque Venus no es el planeta más cercano al Sol, es el más caliente. Tiene una atmósfera densa, llena de dióxido de carbono, que provoca el efecto invernadero, y de nubes compuestas de ácido sulfúrico. Los gases atrapan el calor y mantienen a Venus bien calentito. De hecho, hace tanto calor en Venus que metales como el plomo serían charcos de metal fundido.
    Venus se ve como un planeta muy activo. Tiene montañas y volcanes. Venus es similar a la Tierra, en tamaño. La Tierra es solo un poco más grande.

Venus es poco común porque gira en dirección contraria a la de la Tierra y la mayoría de los otros planetas. Y su rotación es muy lenta. Tarda alrededor de 243 días terrestres en girar solo una vez. Debido a que está tan cerca del Sol, un año pasa muy rápido. Venus tarda 225 días terrestres en dar toda la vuelta alrededor del Sol. Esto significa que, en Venus, un día es un poco más largo que un año.

Debido a que las longitudes del día y del año son similares, un día en Venus no es como un día en la Tierra. Aquí, en la Tierra, el Sol sale y se pone una vez por día. En Venus, el Sol sale cada 117 días terrestres. Así que el Sol sale dos veces por año, ¡aunque todavía sea el mismo día! Y dado que Venus rota hacia atrás, el Sol sale por el oeste y se pone en el este.
</p>
    <img 
        src="https://spaceplace.nasa.gov/review/all-about-venus/venus-sp.sp.png" 
        alt="Imagen del planeta Mercurio"
    >

    <hr>

    <p>
        Volver a la página de
        <a href="/">Planetas</a>
    </p>

</body>
</html>